[submodule "modules/drashna"]
	path = modules/drashna
	url = https://github.com/drashna/qmk_modules.git
[submodule "modules/bastardkb"]
	path = modules/bastardkb
	url = https://github.com/Bastardkb/qmk_modules
